<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.css" media="screen" />
</head>
<body style="background-color:grey">
    <div class="row">

        <div class="col-md-6 col-md-offset-3" style="background-color:yellow">
            test
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 " style="margin-top:20em;">
                <h2 class="text-center">Authentification</h2>           
            </div>
            <div class="col-md-6 col-md-offset-4">
                <form class="form-horizontal">
                    <div class="form-group ">
                        <label for="inputEmail3" class="col-md-2 control-label">Email</label>
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-md-2 control-label">Password</label>
                        <div class="col-md-4">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0">
                            <button type="submit" class="form-control  btn-default">Connexion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>